@import '@/styles/variables.scss';

.PlantCard {
  min-width: 250px;
  max-width: 450px;
  min-height: 170px;
  background-color: $primary-white;
  padding: 10px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  position: relative;

  .Image {
    position: relative;
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 5px;
  }

  .PlantCardInfo {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 10px;

    .NameRoomInfo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 5px;
      span {
        font-weight: bold;
        font-size: 20px;
        
        
        &.Name {
          color: black;
        }
      }
    }

    .Notes {
      cursor: pointer;
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: 5px;

      &:hover + .NotesPopover, &:active + .NotesPopover {
        position: absolute;
        display: block;
        z-index: 10;
        overflow: visible;
        background-color: $primary-white;
        border: 1px solid $light-gray;
        padding: 5px 10px;
    }
    }

    .NotesPopover {
      display: none;
      bottom: 10%;
      right: 10%;

      &:hover {
        position: absolute;
        display: block;
        z-index: 10;
        overflow: visible;
        background-color: $primary-white;
        border: 1px solid $light-gray;
        padding: 5px 10px;
      }
    }
  }

  .ButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;

    .EditButton {
      border: 1px solid black;
      border-radius: 100%;
      display: grid;
      place-items: center;
      padding: 5px;
      height: fit-content;
      width: fit-content;
      transition: background-color 0.3s ease, transform 0.3s ease;
      box-shadow: 0px 0px 20px 0px rgb(180, 180, 180);

      &:hover {
        background-color: $hover-yellow;
        cursor: pointer;
      }
    }
  }
  
  
  * {
    color: black;
    text-decoration: none;
  }
}
