@import '@/styles/variables.scss';

.PlantModal {
  width: 80%;
  background-color: $primary-white;
  padding: 20px 40px;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  .ModalGrid {

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;

    .ImageWrapper {
      grid-area: 1 / 1 / 2 / 2;
      display: grid;
      align-items: center;
      justify-items: center;
    }

    .TextContent {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .InputWrapper {
        width: clamp(300px, 10vw, 600px);
      }
  
      .NotesWrapper {
        width: 100%;
      }
    }

    .Footer {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: end;
      grid-area: 2 / 1 / 3 / 3;
  
      .LeftContent {
        .DeleteButton {
          padding: 5px 15px;
          background-color: $primary-white;
          font-size: 16px;
          border-radius: 10px;
          font-weight: bold;
          border: 1px solid $main-red;
          color: $main-red;
          
    
          &:hover {
            background-color: $main-red;
            border-color: transparent;
            color: $primary-white;
            cursor: pointer;
          }
        }
      }
  
      .RightContent {
        display: flex;
        gap: 10px;
        .Button {
          padding: 5px 15px;
          background-color: $main-green;
          font-size: 16px;
          border-radius: 10px;
          color: $primary-white;
          border: 1px solid transparent;
          transition: all 0.1s linear;
    
          &:hover {
            background-color: $primary-white;
            color: $main-green;
            cursor: pointer;
            border-color: $main-green;
          }
        }
    
        .CancelButton {
          padding: 5px 15px;
          background-color: $main-red;
          font-size: 16px;
          border-radius: 10px;
          border: 1px solid transparent;
          color: white;
          text-decoration: none;
          transition: all 0.1s linear;
    
          &:hover {
            background-color: $primary-white;
            color: $main-red;
            cursor: pointer;
            border-color: $main-red;
          }
        }
      }
    }
  }

  

  
  .Error {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }

  .Info {
    font-size: 16px;
    font-weight: bold;
    color: rgb(4, 75, 0);
  }
}

.ModalContent {
  position: absolute;
  background-color: $primary-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  padding: 20px 10px;
}
